<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/" class="{{#if indexNav}}active{{/if}}">Home</a>
      <a href="/about" class="{{#if aboutNav}}active{{/if}}">About</a>
      <a href="/contact" class="{{#if contactNav}}active{{/if}}">Contact</a>
    </nav>
    {{{body}}}
  </body>
</html>
