<h1>{{title}}</h1>
<p>Welcome {{user.name}}!</p>
<hr>
<div class="row">
    <div class="col-md-3 alert-success">
        <h2>Projects</h2>
        <h3>10</h3>
        <a href="/projects">View All</a>
    </div>
    <div class="col-md-3 alert-warning">
        <h2>Blog Posts</h2>
        <h3>20</h3>
        <a href="/blog">View All</a>
    </div>
    <div class="col-md-3 alert-danger">
        <h2>Contacts</h2>
        <h3>10</h3>
        <a href="/contacts">View All</a>
    </div>
    <div class="col-md-3 alert-primary">
        <h2>Subscribers</h2>
        <h3>100</h3>
        <a href="/subscribers">View All</a>
    </div>

</div>
